
html, body {
  background: #fefce0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/*navbar  */
nav.navbar {
  margin: 0 !important;
  padding: 15px 0 !important;
  border-radius: 0 !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1000;
}

nav.navbar .container-fluid {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

body {
  padding-top: 100px !important;
}


.fondo {
  background: #1A281E !important;
  color: #fefce0 !important;
}


.fondo .form-control {
  background-color: #fefce0;
  color: #1A281E;
  border: none;
}

.fondo .form-control:focus {
  background-color: #ffffff;
  color: #1A281E;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.3);
}


.btn-outline-light {
  border-color: #fefce0;
  color: #fefce0;
}

.btn-outline-light:hover {
  background-color: #fefce0;
  color: #1A281E;
}